<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TheMap</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/mapPage.css')}}>
    <script src={{url_for('static', filename='js/jquery.min.js')}}></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.full" type="text/javascript"></script>
    <script src={{url_for('static', filename='js/mapScript.js')}}></script>
</head>

<body onload="setupPage()">
    <div id="header" hidden>
        <div>
            <button id="speedbump-button">Speedbumps</button>
        </div>
        <div>
            <button id="carcount-button">Car count</button>
        </div>
    </div>
    <div id="mainMap">
    </div>
</body>
</html>
