<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheMap</title>
    <!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Morris diagrams-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <!--Custom-->
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/mapPage.css')}}>
</head>

<body onload="setupPage()">
    <div id="header" hidden>
        <div>
            <button class="btn btn-primary" id="speedbump-button">Speedbumps</button>
        </div>
        <div>
            <button class="btn btn-primary" id="carcount-button">Car count</button>
        </div>
        <div>
            <button class="btn btn-primary" id="heatmap-button">Heatmap</button>
        </div>
        <div>
            <button class="btn btn-primary" id="realtime-button"> Real time</button>
            <span id="heatmapTime">Default</span>
        </div>
    </div>
    <div id="mainMap">
    </div>
<!-- Скрипты -->
    <!--Morris diagrams-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!--Custom-->
    <script src={{url_for('static', filename='js/jquery.min.js')}}></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.full" type="text/javascript"></script>
    <script src={{url_for('static', filename='js/heatmap.min.js')}}></script>
    <script src={{url_for('static', filename='js/mapScript.js')}}></script>
    <script src={{url_for('static', filename='js/diagrams.js')}}></script>
</body>
</html>
